In [17]:
import pandas as pd

In [18]:
crime_df = pd.read_csv("Crime_Data_from_2010_to_Present.csv")

In [19]:
crime_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [20]:
crime_df['year']=crime_df['Date Rptd'].str.extract('(\d\d\d\d)', expand=True)

In [27]:
crime_2019 = crime_df.loc[crime_df['year']=='2019']
crime_2019

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,year
208738,190405674,02/10/2019 12:00:00 AM,02/10/2010 12:00:00 AM,330,4,Hollenbeck,499,1,510,VEHICLE - STOLEN,...,Invest Cont,510.0,NaN,NaN,NaN,3500 E 15TH ST,NaN,34.0159,-118.2028,2019
208749,190108958,03/13/2019 12:00:00 AM,08/09/2010 12:00:00 AM,800,1,Central,158,2,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",...,Invest Cont,668.0,NaN,NaN,NaN,500 GLADYS AV,NaN,34.0421,-118.2405,2019
208750,190112266,04/28/2019 12:00:00 AM,04/01/2010 12:00:00 AM,700,1,Central,159,2,763,STALKING,...,Invest Cont,763.0,NaN,NaN,NaN,1200 E 6TH ST,NaN,34.0382,-118.2384,2019
208751,190205146,01/23/2019 12:00:00 AM,01/01/2010 12:00:00 AM,1,2,Rampart,285,1,815,SEXUAL PENETRATION W/FOREIGN OBJECT,...,Invest Cont,812.0,815.0,NaN,NaN,1600 W 11TH ST,NaN,34.0477,-118.2751,2019
208752,190206170,02/07/2019 12:00:00 AM,01/09/2010 12:00:00 AM,1200,2,Rampart,295,1,815,SEXUAL PENETRATION W/FOREIGN OBJECT,...,Invest Cont,812.0,815.0,NaN,NaN,1300 S UNION AV,NaN,34.0423,-118.2804,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2109747,190608903,03/28/2019 12:00:00 AM,03/28/2019 12:00:00 AM,400,6,Hollywood,644,1,648,ARSON,...,Invest Cont,648.0,NaN,NaN,NaN,1400 N LA BREA AV,NaN,34.0962,-118.3490,2019
2109748,190715222,08/15/2019 12:00:00 AM,08/14/2019 12:00:00 AM,1810,7,Wilshire,701,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),...,Invest Cont,331.0,NaN,NaN,NaN,WILLOUGHBY AV,ORLANDO AV,34.0871,-118.3732,2019
2109749,192004409,01/06/2019 12:00:00 AM,01/06/2019 12:00:00 AM,2100,20,Olympic,2029,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,...,Invest Cont,930.0,NaN,NaN,NaN,6TH,VIRGIL,34.0637,-118.2870,2019
2109750,191716777,10/17/2019 12:00:00 AM,10/16/2019 12:00:00 AM,1800,17,Devonshire,1795,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,Invest Cont,420.0,NaN,NaN,NaN,17200 NAPA ST,NaN,34.2266,-118.5085,2019
2109751,190805435,02/01/2019 12:00:00 AM,02/01/2019 12:00:00 AM,1615,8,West LA,852,1,330,BURGLARY FROM VEHICLE,...,Invest Cont,330.0,NaN,NaN,NaN,1700 BARRY AV,NaN,34.0420,-118.4531,2019